button{
    background-color:purple;
    padding: 15px 32px;
    text-align: center;
    font-size: large;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    
    
}
button:hover{
    background-color: blue;
}
